<div class="group__card">
  <div class="card" *ngFor="let data of datas, index as i">

    <div class="card__head">
      {{data.name}}, {{data.country}}
    </div>

    <div class="card__body" 
      [ngClass]="{'cold': data.temp <= 5, 
                  'medium': data.temp > 5 && data.temp <= 25, 
                  'warm': data.temp > 25}">
      {{data.temp}}°
    </div>

    <div class="card__footer">
      <div class="card__footer--dataWeather" *ngIf="i == 1">
        <div>
          <label>Humidity</label>
          <p>{{data.humidity}}<small>%</small></p>
        </div>
        <div>
          <label>Pressure</label>
          <p>{{data.pressure}}<small>hPa</small></p>
        </div>

      </div>
      <div class="card__footer--updated">
        <small>updated at {{updatedTime | date:'mediumTime'}}</small>
      </div>
    </div>
  </div>

</div>